@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF";
  src: url("../public/fonts/SF.otf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.skills {
  grid-template-columns: repeat(auto-fit, minmax(175px, 200px));
}

@media (max-width: 640px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
  }
}
