@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF";
  src: url("../public/fonts/SF.otf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

/* Nav */
.dropdown {
  @apply flex lg:hidden cursor-pointer;
}

.dropdown-line {
  @apply block w-8 h-0.5 bg-gray-600 animate-pulse;
}

.dropdown-options {
  @apply bg-white border w-full border-gray-300 absolute mt-12 py-2 z-10 lg:hidden transition-opacity duration-300;
}

/* Skills */
.skills-grid {
  @apply grid justify-center p-6;
  grid-template-columns: repeat(auto-fit, minmax(175px, 200px));
}

@media (max-width: 640px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
  }
}

/* Footer */
#Contact {
  @apply flex flex-col items-center bg-gradient-to-r from-fuchsia-400 to-cyan-600 text-center text-white;
}

.social-icon {
  @apply mr-9 text-neutral-800 dark:text-neutral-200;
}

.socials-wrapper {
  @apply mb-9 flex justify-center;
}
